body{
	font-family: 'Montserrat';
}



#title{
	background-color: #ff4c68;
	color: #fff;

}

.container-fluid{
	padding: 3% 15% 7%;
/*	position: relative;*/
}

.navbar-brand{
	font-weight: bold;
/*	padding-bottom: 4.5rem;*/
}
h1{
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5;
/*	font-size: 3.5rem;*/
}
h2{
	font-family: "Montserrat";
}

h3{
	font-family: 'JetBrains Mono', monospace;
}
p{
	color: grey;
}

.nav-item{
	padding:0 18px;
}

.nav-link{
	font-size: 1.2rem;
	font-weight:lighter;
	font-weight: lighter;
}
.title-image{
	width: 17%;
	transform: rotate(25deg);
	position: absolute;
	left: 56%;
}

#features{
	padding: 7% 15%;
	background-color: #fff;
	position: relative;
}

.feature-box{	
	text-align: center;
	padding: 5%;
}

.icon{
	margin-bottom: 1rem;
	color:#ef8172;
}
.icon:hover{
	color:#ff4c68;
}

#testimonials{
	text-align: center;
	background-color: #ef8172;
	color: #fff;
	font-family: "Montserrat";
}

.testi-img{
	width: 10%;
	border-radius: 100%;
	margin:20px;
}
.carousel-item{
	padding: 7% 15%;
}

#press{
	background-color: #ef8172;
	text-align: center;
	padding-bottom: 3%;
}

.press-logo{
	width:15%;
	margin:20px 20px 50px;
}

#pricing{
	padding: 100px;
	text-align: center;
}

.pricing-column{
	padding: 3% 2%;
}

#cta{
	text-align: center;
	padding: 5% 15%;
	color: #fff;
	background-color: #ff4c68;
}

.last-part{
	font-size: 3rem;
	line-height: 1.5rem;
}

#footer{
   padding: 7% 10%;
   text-align: center;
}
.social-icon{
	margin: 20px 10px;
}

@media (max-width:1028px){
	#title{
		text-align: center;
	}

	.title-image{
		position: static;
		transform: rotate(0deg);
	}
}
